<h2>About</h2>
<p>I'm Rahul Parsani, a software developer living in London.</p>

<h2>Code</h2>
<ul>
  <li><a href="https://github.com/unrarp/WuNameAAS/">WuNameAAS</a> - Wu-Tang Clan Name Generator As A Service</li>
  <li><a href="https://github.com/unrarp/material-calculator/">material-calculator</a> - Material Calculator from AOSP ported to work from Android 2.3.3 & up</li>
  <li><a href="https://github.com/unrarp/google-io-2014-compat/">google-io-2014-compat</a> - Android demo for the Material Witness talk presented at Google I/O ported to work from Android 2.3.3 & up</li>
  <li><a href="https://github.com/unrarp/UberAPI-Android-Demo/">UberAPI-Android-Demo</a> - Sample android app that works with Uber's external API</li>
</ul>